.show-message{
    border: 1px solid ;
    border-radius: 5px;
    margin-right: 60px;
    margin-bottom: 50px;
}
footer {
    margin-top: auto;
    background: #7a6240;
    color: white;
    padding: 15px;
    text-align: center;
}